#chatContent {
    max-height:20vh;
    overflow: auto;
    height: 150px;
}

#listChannelsDiv {
    max-height: 40vh;
    overflow: auto;
}

#listChannelsDiv ul {
	list-style: none;
    margin-left: -14px;
}

.ui-button {
    margin: 5px;
}

