<div class="row">
    <div class="col-md-6">
        <div id="listChannelsDiv">
            <ul id="listChannels"></ul>
        </div>
        <div id="chat">
            <div id="chatContent"></div>
            <input type='text' placeholder='Entrez un message' id='chatInput'/>
            <div id='autoscroll-chat-container' style='display: inline'>
                <a id='autoscroll-chat' class='btn btn-sm ui-button' href='#' title='Disable Auto-scroll in chat' data-placement='bottom' data-toggle='tooltip'>
                    <i id='autoscroll-chat-icon' class='fa fa-pause'></i>
                </a>
            </div>
        </div>
    </div>
    <div id="control-panel" class="col-md-6"></div>
    <div id="contextMenu">
        <ul class="dropdown-menu" role="menu">
        </ul>
    </div>
</div>